html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    height: 60px; /* Height of the footer */
    background: #2C3E50;
    padding-top: 20px;
}
